/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #09ebf36e;
}

h1 {
  color: #0066cc;
}
h2 {
  color: #0066cc;
}

p {
  font-size: 14px;
  line-height: 1.5;
  color:green;
  border:1px solid black;
.note
{color:rgb(66, 9, 5)}
#intro
{
  color:purple;
}
}